#drawing-canvas {
  width: 90% !important;
  cursor: crosshair;
  background: #ffffff;
  image-rendering: pixelated;
  display: inline-block;
  border: 3px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
  margin-bottom: 0%;
}

#drawing-container {
  margin-bottom: 0% !important;
}

#prompt-status {
  border: 2px solid #333;
  border-radius: 4px;
  margin: 10% !important;
}

.toolbar {
  padding: 10px;
  background: #aed5fdeb;
  border-radius: 4px;
  display: inline-block;
}

.toolbar button {
  margin: 0 4px;
  padding: 4px 12px;
  border-radius: 4px;
}

.toolbar button.active {
  background: linear-gradient(to right, red, orange, yellow, rgb(82, 237, 82), rgb(0, 149, 255), violet);
}
