.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #faa7e4; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 2% 2% 2% 6%;
  text-decoration: none;
  font-size: max(1vw, 15px);
  color: #000000;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #dc51d5;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 4%;
  font-size: max(2vw, 30px);
  margin-left: 4%;
}

button {
  background-color: #faa7e4;
  border: #faa7e4;
  transition-duration: 0.4s;
  text-align: center;
}

button:hover{
  background-color: #dc51d5;
  border: #dc51d5
}

.btn-primary {
  background-color: #faa7e4;
  color: #000000;
  border: #faa7e4;
  transition-duration: 0.4s;
  text-align: center;
}

.btn-primary:hover {
  background-color: #dc51d5;
  color: #000000;
  border: #dc51d5;
}

mark {
  background-color: #b73da565;
}

#sidebar-info {
  background-color: #fbcefb;
  border-color: #e9e9e9;
}

.border-primary {
  background-color: #d5c6d4;
  border-color: #e9e9e9 !important;
}

.border-primary:focus {
  background-color: #d5c6d3;
  box-shadow: 0 0 0 0.25rem #e4aee0cc;
}

#promptSelect, #dateSelect {
  background-color: #faa7e4;
  border-color: #faa7e4;
}

.card-body {
  background-color: #fbcefb;
  border-color: #e9e9e9;
}

body {
  background-color: #ffe3ff;
}