{% extends "base.html" %}

{% block content %}

<div class="container mt-4 drawing-page">
    <a href="{{ url_for('main.browse') }}" class="btn btn-secondary">
        ← Back to Browse
    </a>
        <h1 class="text-center">{{ drawing.title }}</h1>
    <div class = "drawing-image d-flex justify-content-center">
        <img src="{{ drawing.image }}" alt="Drawing by {{ drawing.user.username }}" class="img-fluid rounded mt-3" style="max-height: 88vh;">
    </div>

    <div class="drawing-info">
        <h2 class="mt-2">
            <a href="{{ url_for('main.user_profile', user_id=drawing.user.id) }}">
                {{ drawing.user.username }}
            </a>        
        </h2>
        <p>
            Prompt: {{ drawing.prompt.text }}
         </p>
        <p>
            <strong>Number of Votes:</strong>
            <span id="vote-count-{{ drawing.id }}">
                {{ vote_count }}
             </span>
        </p>
        {% if is_own_drawing %}
        <button class="btn btn-secondary vote-btn" disabled>
            Your Drawing
        </button>
        {% elif has_voted %}
        <button class="btn btn-success vote-btn" disabled>
            Voted
        </button>
        {% else %}
        <button
            class="btn btn-primary vote-btn"
            data-drawing-id="{{ drawing.id }}">
            Vote
        </button>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='vote.js') }}"></script>
</div>
{% endblock %}
